<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Shopping List</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="flex justify-center items-center h-screen">
    <main class="flex flex-col max-w-xl">
      <div class="todo">
        <div class="header max-w-56">
          <h1 class="text-center text-3xl mb-3">Shopping List</h1>
          <div class="todolist">
            <ul></ul>
          </div>
          <input
            type="text"
            class="todo-input focus:border-none focus:outline-none mt-3 pl-2.5"
            placeholder="Add Item"
            autofocus
          />
        </div>
      </div>
    </main>

    <script src="/static/script.js"></script>
  </body>
</html>
