<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Shopping List</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body class="flex justify-center items-center h-screen">
    <main class="flex flex-col max-w-xl">
      <div class="todo">
        <div class="header min-w-56">
          <h1 class="text-center text-xl">Shopping List</h1>
          <div class="todolist">
            <ul></ul>
          </div>
          <input
            type="text"
            class="todo-input focus:border-none focus:outline-none"
            placeholder="Add Item"
            autofocus
          />
        </div>
      </div>
    </main>

    <script src="/static/script.js"></script>
  </body>
</html>
